<ion-content>
    <ion-grid>

        <ion-row>
            <ion-col>
                <ion-card class="reminders">
                    <div *ngIf="1==0">
                        <ion-list *ngFor="let item of items">
                            <ion-item>
                                <ion-label>{{item}}</ion-label>
                            </ion-item>
                        </ion-list>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

    <ion-row>
        <ion-card class="weather">
            <ion-input placeholder="Your city"></ion-input>
        </ion-card>
    </ion-row>
    </ion-grid>
</ion-content>